<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Classes</h4>

        <button class="btn btn-primary" (click)="showClassModal()">
          <i class="las la-plus"></i> Create Class
        </button>
      </div>
      <div class="card-body">
        <table class="table simple-table">
          <thead>
            <tr>
              <th>Class</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody *ngIf="classes && classes.length">
            <tr *ngFor="let cls of classes">
              <td>
                {{ cls.name }}
              </td>
              <td>
                <button
                  class="btn btn-action"
                  (click)="showClassModal(cls._id, cls.name)"
                >
                  <i class="las la-pen"></i>
                </button>
                <button class="btn btn-action" (click)="deleteClass(cls._id)">
                  <i class="las la-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
