<div class="modal-header">
  <h4 class="modal-title">
    {{ id ? "Edit Class" : "Create New Class" }}
  </h4>
</div>
<form (submit)="save()">
  <div class="modal-body">
    <div class="form-group">
      <label for="classname">Class name</label>
      <input
        type="text"
        name="classname"
        id="classname"
        class="form-control"
        [(ngModel)]="className"
      />
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" type="button" (click)="close()">
      Cancel
    </button>
    <button class="btn btn-primary" type="submit">Save</button>
  </div>
</form>
