.btn {
  min-width: 100px;
  border-radius: 20px;
  box-shadow: 0 5px 10px #adadada1;
}

.btn-action {
  min-width:35px !important;
  height:35px !important;
  width:35px !important;
  text-align: center;
  border: 1px dashed;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
