.btn {
  min-width: 100px;
  border-radius: 10px;
}

.btn-action {
  min-width: 35px !important;
  height: 35px !important;
  width: 35px !important;
  text-align: center;
  border: 1px dashed;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
