.simple-table {
  font-size: 12px;
  border-collapse: collapse;
  thead {
    th {
      text-transform: uppercase;
      border: none;
    }
  }

  td,
  td {
    padding: 8px;
    vertical-align: middle;
    border: none;
  }

  tbody {
    tr {
      border-top: 1px solid #d2d2d233;
    }
    tr:nth-child(odd) {
      background-color: #d2d2d233;
    }
  }
}
